h1 {
    text-align: center;
    margin    : 10px;
}

p {
    text-align: justify;


    h3 {
        margin    : 10px;
        text-align: center;
    }

    ol {
        li {
            color      : #A600A6;
            font-weight: 500;
            margin     : 10px;
        }

        img {
            width: 100%;
        }
    }
}